.showcase .container {
    padding-bottom: 40px;
}

.showcase .showcase-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.showcase .showcase-item-inner {
    border: 6px solid #fdf9ff; 
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.showcase .showcase-item-inner .showcase-img img{
    width: 100%;
    display: block;

}

.showcase .showcase-item .showcase-info {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
}

.showcase .showcase-item-inner:hover .showcase-info {
    opacity: 1;
}

.showcase .showcase-item .showcase-info h4 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
}

.showcase .showcase-item-inner:hover .showcase-info h4 {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.showcase .showcase-item .showcase-info .icon {
    height: 40px;
    width: 40px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
}

.showcase .showcase-item-inner:hover .showcase-info .icon {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.showcase .showcase-item .showcase-info .icon .fa {
    line-height: 40px;
}
